h1 {
    font-size: 50px;
    font-weight: bold;
font-family: 'Fjalla One', sans-serif;
}

h2 {
    font-size: 30px;
}

.hero {
    background-image: url(1.21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
}

.hero h1,
.hero h2 {
    margin: auto;
    text-align: center;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
}
