h1 {
    font-size: 50px;
    font-weight: bold;
font-family: 'Fjalla One', sans-serif;
}

h2 {
    font-size: 30px;
}

.container {
    max-width: 30000px;
    display: block;
    margin: auto;   
    background-color:darkgoldenrod; 
     font-size: 20px;

}

header .container {
    display: flex;
 
}

.nav { 
    list-style: none;
    display: flex;
    margin: 5%
}



.hero {
    background-image: url(CGEV1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    top: -43px;
    background-image:  
        border: 5px solid #555;
      
}

.hero .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
}

.hero h1,
.hero h2 {
    margin: auto;
    text-align: center;
}
p {
    font-size: 20px
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
}
